@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(image/background.jpg);
    background-size: contain;
}
.calculator
{
    position: relative;
    display: grid;
    border: 5px inset orange;
}
.calculator .value
{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span
{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
}
.calculator span.clear
{
    grid-column: span 2;
    width: 120px;
    background: #ff3077; 
}
.calculator span.plus
{
    grid-row: span 2;
    height: 120px;
    background: rgb(226, 212, 9);
}
.calculator span.dot
{
    background: rgb(226, 212, 9);
}
.calculator span.multiply
{
    background: rgb(226, 212, 9);
}
.calculator span.division
{
    background: rgb(226, 212, 9);
}
.calculator span.minus
{
    background: rgb(226, 212, 9);
}
.calculator span.equal
{
    background: rgb(94, 178, 247);
}
.calculator span.sqrt
{
    background: rgb(226, 212, 9);
}

.calculator span:active
{
    background: #f1f3f17c;
    color: #111;
}